.contact-section{
    text-align: center;
    margin-block:100px;
}
.contact-section-container{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.left-section{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* gap:10px; */
    width:100%;
    padding-top: 10px;
}

.img-container{
    background-color:var(--background);
    border-radius: 0px 30px 0px 30px;
    padding-inline: 20px;
    padding-top:10px;
    width: 80%;
    display: flex;
    align-items: baseline;
}

.left-section img{
    width: clamp(150px,20vw,400px);
    height: auto;
}

.left-section p{
    font-size: 16px;
    max-width: 300px;
    line-height: 22px;
    margin-top: 6px;
}

.right-section{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.full-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.full-name input{
    padding: 15px;
    background-color: var(--background);
    border:0;
    border-radius: 3px;
    color: var(--placeholder);
}

.messages-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.messages-section input{
    padding: 15px;
    background-color: var(--background);
    border:0;
    border-radius: 3px;
    color: var(--placeholder);
}

.messages-section textarea{
    padding: 15px;
    background-color: var(--background);
    border:0;
    border-radius: 3px;
    color: var(--placeholder);
}


::-webkit-input-placeholder{
    color:var(--placeholder);
}

input:focus{
    outline-color: var(--placeholder);
}

textarea:focus{
    outline-color: var(--placeholder);
}

@media(max-width:1024px){
    .about-text-container{
        padding-inline: 5%;
    }

    .about-text{
        max-width: 100%;
    }

    .service-cards{
        gap: 20px;
    }
}

@media(max-width:768px) {
    .hero img{
        max-width: 400px;
        min-width: 100px;
        height: auto;
    }
    
    .text{
        max-width: 300px;
        padding-top: 10px;
    }    

    .hero h1{
        font-size: 3vw;
        max-width:300px ;
        min-width: 200px;
        text-transform: capitalize;
    }
    
    .hero p{
        font-size: 1.5vw;
        margin-top: 10px;
        margin-bottom: 15px;
        max-width:300px ;
        min-width: 200px;
    }
    
    .about-container img{
        max-width: 300px;
    }

    .about-text-container{
        padding-inline: 5%;
    }

    .about-text{
        max-width: 100%;
    }

    .hover-screen{
        justify-content: start;
        height: 20%;
        top:80%;
        transform: none;
        opacity: 1;
    }

    .contact-section-container{
        flex-direction: column;
        align-items: center;
    }

    .full-name{
        flex-direction: column;
    }

    .img-container{
        justify-content: center;
    }
}

@media(max-width:660px){
    .hero .container{
        flex-direction: column-reverse;
    }

    .hero h1{
        font-size: 5vw;
        max-width:300px ;
        min-width: 200px;
        text-transform: capitalize;
    }
    
    .hero p{
        font-size: 2.5vw;
        margin-top: 10px;
        margin-bottom: 15px;
        max-width:300px ;
        min-width: 200px;
    }

    .about-container img{
        max-width: 300px;
    }

    .about-container{
        flex-direction: column;
    }

    .about-text-container{
        padding-inline: 1%;
    }

    .about-text{
        max-width: 100%;
    }
    .service-cards{
        justify-content: center;
        gap: 70px;
    }
    
}

@media(max-width:434px){
    .hero img{
        max-width: 300px;
    }

    .hero h1{
        font-size: 7vw;
        min-width: 200px;
        text-transform: capitalize;
    }
    
    .hero p{
        font-size: 3.5vw;
        margin-top: 10px;
        margin-bottom: 15px;
        min-width: 200px;
    }
    
    .service-cards{
        justify-content: center;
        gap: 70px;
    }

    .left-section p{
        font-size: 12;
    }
    
    .left-section h1{
        font-size: 28px;
    }
}