.footer-section{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 40px;
    gap: 8px;
}

.content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content:start ;

}
.column ul {
    padding:0;
}

.link{
    color: var(--font-color);
    text-decoration: none;
}

.link:hover{
    color: var(--primary);
}