.hero{
    background-color: var(--background);
    padding-block: 5%;
}

.hero .container{
    display: flex;
    flex-shrink: 1;
    align-items:center ;
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
}

.hero img{
    max-width: 50%;
    height: auto;
}

.hero h1{
    font-size: 3.5vw;
    min-width: 200px;
    text-transform: capitalize;
}

.hero p{
    font-size: 1vw;
    margin-top: 10px;
    margin-bottom: 15px;
    min-width: 200px;
}

.text{
    max-width: 40%;
}

.about{
    margin-top:100px;
}

.about h1{
    text-align: center;
    margin-bottom: 15px;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-inline: 10%;

}

.about-container img{
    min-width: 300px;
    height: auto;
    margin-block: 20px;
}

.about-text-container{
    background-color: rgba(0, 0, 255, 0);
    max-width: calc(100%-40%);
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5%;
}

.about-text{
    background-color: rgba(255, 0, 0, 0);
    max-width: 60%;
    margin-block:20px;
}

.about-text h1{
    text-align: start;
    margin-bottom: 10px;
}

.our-services{
    text-align: center;
    margin-top: 100px;
}

.cards-container{
    margin-top: 30px;
    background-color: var(--background);
    padding-block: 20px;
}

.cards-container p{
    font-size: 20px;
    padding-block: 20px;
}

.service-cards{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
    /* gap: 100px; */
}

.service-card{
    max-width:210px;
    height: 100%;
    overflow:hidden;
    position: relative;
    border-radius: 2%;
}

.service-card img{
    max-width: 20rem;
    height: 300px;
}

.hover-screen{
    background-color: rgba(255, 233, 233, 0.56);
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    transform: translateY(250px);
    opacity: 0;
    transition: all 0.3s ease ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.name{
    font-size: 25px;
}

.service-card img:hover + .hover-screen{
    transform: none;
    opacity: 1;
}

.hover-screen:hover{
    transform: none;
    opacity: 1;
}

@media(max-width:1024px){
    .about-text-container{
        padding-inline: 5%;
    }

    .about-text{
        max-width: 100%;
    }

    .service-cards{
        gap: 20px;
    }
}

@media(max-width:768px) {
    .hero img{
        max-width: 400px;
        min-width: 100px;
        height: auto;
    }
    
    .text{
        max-width: 300px;
        padding-top: 10px;
    }    

    .hero h1{
        font-size: 3vw;
        max-width:300px ;
        min-width: 200px;
        text-transform: capitalize;
    }
    
    .hero p{
        font-size: 1.5vw;
        margin-top: 10px;
        margin-bottom: 15px;
        max-width:300px ;
        min-width: 200px;
    }
    
    .about-container img{
        max-width: 300px;
    }

    .about-text-container{
        padding-inline: 5%;
    }

    .about-text{
        max-width: 100%;
    }
}

@media(max-width:660px){
    .hero .container{
        flex-direction: column-reverse;
    }

    .hero h1{
        font-size: 5vw;
        max-width:300px ;
        min-width: 200px;
        text-transform: capitalize;
    }
    
    .hero p{
        font-size: 2.5vw;
        margin-top: 10px;
        margin-bottom: 15px;
        max-width:300px ;
        min-width: 200px;
    }

    .about-container img{
        max-width: 300px;
    }

    .about-container{
        flex-direction: column;
    }

    .about-text-container{
        padding-inline: 1%;
    }

    .about-text{
        max-width: 100%;
    }
    
}

@media(max-width:434px){
    .hero img{
        max-width: 300px;
    }

    .hero h1{
        font-size: 7vw;
        min-width: 200px;
        text-transform: capitalize;
    }
    
    .hero p{
        font-size: 3.5vw;
        margin-top: 10px;
        margin-bottom: 15px;
        min-width: 200px;
    }
    
    .service-cards{
        justify-content: center;
        gap: 70px;
    }

    .hover-screen{
        transition: none;
        transform: none;
        opacity: 1;
    }
}